


/*
navehead an foot are the same from all other documents.
 */
/*
all of the .naveHead was inspired by
https://www.youtube.com/watch?v=oYRda7UtuhA-
 */
.naveHead{

    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-right: 70px;
    float: right;

}
.naveHead li{
    list-style: none;
    display: inline-block;
}
.naveHead li a{
    /*
    this is the text color
     */
    color: darkred;
    margin: 5px 10px;
    width: 50px;
    height: 80px;
    padding: 15px;
    border-radius: 25px;
    background-color: rgba(175, 238, 238, 0.55);
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana;

    animation-name:test;

    transition: 0.2s;

}
.naveHead li a:hover{
    background-color: darksalmon;
    color: white;
}


.navfoot{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-right: 70px;

}
.navfoot li{
    list-style: none;
    display: inline-block;
}
.navfoot li a{
    /*
    this is the text color
     */
    color: darkred;
    margin: 5px 10px;
    width: 30px;
    height: 20px;
    padding: 5px;
    border-radius: 25px;
    background-color: rgba(175, 238, 238, 0.55);
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana;

    animation-name:test;

    transition: 0.2s;

}
.navfoot li a:hover{
    background-color: darksalmon;
    color: white;
}
footer{
    position: relative;

    height: 200px;

    background-color: rgba(47, 79, 79, 0.26);
}
#aboutTerms{
    font-size: 8px;
    text-align: center;
}
#team{
    position: relative;
    width: 100%;

}
#alvin{
    height: 200px;
    width: 250px;
}
body{
    font-family: Verdana;
    color: black;
}
h1{

    font-size: 50px;
    text-align: center;
}
#whoAreWe{
    position: relative;
    font-size: 20px;
    text-align: center;
    color: darkblue;
    top: -30px;
}
h2{
    font-size: 30px;
    text-align: center;
}
h3{
    font-size: 20px;
    color: #650808;
    position: relative;
    left: 60px;
}
p{
    position: relative;
    left: 30px;


    margin-right: 40px;
}
#first{
    background-color: rgba(47, 79, 79, 0.13);
}

#third{

    background-color: rgba(47, 79, 79, 0.13);
}
#logo{
    height: 70px;
    width: 90px;
    padding: 1px;
    display: inline-block;
    float: left;

    margin-left: 5px;


}
#companyName {
    margin-right: 0px;
    font-size: 20px;
    font-family: Verdana;
    color: black;
text-align: left;
}