/*
all of the .naveHead was inspired by
https://www.youtube.com/watch?v=oYRda7UtuhA-
 */
/*
This sets up the location of the header
 */
.naveHead{

    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-right: 70px;
    float: right;

}
/*
This is the format of the list so that all of the words are to the side
 */
.naveHead li{
    list-style: none;
    display: inline-block;
}
/*
This controlls the color and other things of both the words and the background
 */
.naveHead li a{
    /*
    this is the text color
     */
    color: darkred;
    margin: 5px 10px;
    width: 50px;
    height: 80px;
    padding: 15px;
    border-radius: 25px;
    background-color: rgba(175, 238, 238, 0.55);
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana;

    animation-name:test;

    transition: 0.2s;

}
/*
This is the action when you huver over the text/button
 */
.naveHead li a:hover{
    background-color: darksalmon;
    color: white;
}
/*
This is a repeat of the header stuff.
 */
.navfoot{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-right: 70px;

}
.navfoot li{
    list-style: none;
    display: inline-block;
}
.navfoot li a{
    /*
    this is the text color
     */
    color: darkred;
    margin: 5px 10px;
    width: 30px;
    height: 20px;
    padding: 5px;
    border-radius: 25px;
    background-color: rgba(175, 238, 238, 0.55);
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana;

    animation-name:test;

    transition: 0.2s;

}
.navfoot li a:hover{
    background-color: darksalmon;
    color: white;
}
footer{


    background-color: rgba(47, 79, 79, 0.26);
}
#aboutTerms{
    font-size: 8px;
    text-align: center;
}
.contactForum{
    font-family: Verdana;
    color: #7c0c0c;
    background-color: rgba(13, 5, 148, 0.13);
    border-radius: 10px;

}
form{
    padding: 20px;

}
h2{
    text-align: center;
    font-family: Verdana;
    color: black;
    position: relative;
    top: 10px;
    left: 15px;
    font-size: 50px;
}
p{
    font-family: Verdana;
    font-size: 20px;
    color: #0d0594;
    position: relative;
    left: 15px;
    text-align: center;
    top: -15px;
}

input[type=text]{
    padding: 10px;
    border: 0;
    border-radius: 25px;
    box-shadow: 2px 10px 8px rgba(47, 79, 79, 0.26);
    font-family: Verdana;
}
input[type=password]{
    padding: 10px;
    border: 0;
    border-radius: 25px;
    position: relative;
    left: 50px;
    box-shadow: 2px 10px 8px rgba(47, 79, 79, 0.26);
    font-family: Verdana;
}
#numeOfStates{

    width: 16px;
}
select{
    color: #650808;
    background-color: rgb(175, 238, 238);
    border: 0;
    padding: 5px;
    box-shadow: 2px 10px 8px rgba(47, 79, 79, 0.26);
    border-radius: 25px;
    font-family: Verdana;
    font-size: 15px;

}
button{
    color: #650808;
    background-color: rgb(175, 238, 238);
    border: 0;
    padding: 10px;
    box-shadow: 2px 10px 8px rgba(47, 79, 79, 0.26);
    border-radius: 25px;
    font-size: 16px;
    font-family: Verdana;
}
#Sammons{
    font-size: 15px;
}
#PII{
    font-size: 15px;
}
#logo{
    height: 70px;
    width: 90px;
    padding: 1px;
    display: inline-block;
    float: left;

    margin-left: 5px;


}
#companyName {
    margin-right: 0px;
    font-size: 20px;
    font-family: Verdana;
    color: black;

}